@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: mediumturquoise;
}

.container {
  border: 2px solid black;
  border-radius: 25px;
  min-height: 70vh;
  width: 80%;
  max-width: 400px;
  margin-top: 1rem;
  background-color: cornflowerblue;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container__input {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nueva-tarea {
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  line-height: 1.5;
  text-align: center;
  min-width: 70%;
}

#nueva-tarea:focus-visible {
  outline: none;
}

.logo-plus {
  width: 28px;
}

.btn:active > .logo-plus {
  transform: translateY(2px);
}

.container__tasks {
  min-width: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(39, 134, 251);
  margin: 1rem 2.4rem;
  border: 2px solid rgb(1, 93, 158);
  border-radius: 10px;
  padding: 0.4rem;
}

.btn-delete-svg {
  height: 25px;
  transition: all 0.3s ease;
}

.btn-delete-svg:hover {
  background-color: crimson;
  border-radius: 5px;
}

.btn-delete-task {
  transition: all 0.3s ease;
}

.btn-delete-task:hover {
  background-color: crimson;
  border-radius: 5px;
}

.task__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: honeydew;

  position: relative;
}

.line-through::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 2px solid black;
  left: 0;
  top: 1rem;
}
